<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Guitar Manufacturer</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/manufacturers/{id}(id=${manufacturer.getId()})}" th:object="${manufacturer}">
  <label for="brand">Enter Brand: </label>
  <input type="text" th:field="*{brand}" id="brand"/>
  <br/>
  <label for="company">Enter Company:  </label>
  <input type="text" th:field="*{company}" id="company"/>
  <br/>
  <label for="originCountry">Enter Origin Country Code:  </label>
  <input type="text" th:field="*{originCountry}" id="originCountry"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>