
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<strong><p th:text="${'Brand: ' + manufacturer.getBrand()}">VALUE</p></strong>
<p th:text="${'Brand Owner: ' + manufacturer.getCompany()}">VALUE</p>
<p th:text="${'Origin Country: ' + manufacturer.getOriginCountry().getName()}">VALUE</p>
<br/>
<p th:text="${manufacturer.getBrand().toUpperCase() + ' GUITARS LIST: '}">VALUE</p>

<div th:each="guitar : ${manufacturer.getGuitars()}">
    <a th:href="@{/guitars/{id}(id=${guitar.getId()})}"
       th:text="${'ID: ' + guitar.getId() + ', ' + guitar.getManufacturer().getBrand() + ', '
       + guitar.getTypeof() + ' ' + guitar.getShape() + ', ' + guitar.getSeries() + ' ' + guitar.getModel() + ' '
       + guitar.getPrice() + '$'}">guitar</a>
</div>

<br/>

<a th:href="@{/manufacturers/{id}/edit(id=${manufacturer.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/manufacturers/{id}(id=${manufacturer.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>