<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="role">Enter Role: </label>
    <input type="text" th:field="*{role}" id="role"/>
    <div style="color:orangered" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Error</div>
    <br/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>