
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hard Delete Admin Page</title>
</head>
<body>
<strong><p th:text="${'Hard Delete Admin Page' }">VALUE</p></strong>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="id">Enter User ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</form>

<form th:method="POST" th:action="@{/orders}" th:object="${order}">
    <label for="id">Enter Order ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</form>

<form th:method="POST" th:action="@{/instocks}" th:object="${instock}">
    <label for="id">Enter Instock ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <form th:method="DELETE" th:action="@{/instocks/{id}(id=${instock.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</form>

<form th:method="POST" th:action="@{/guitars}" th:object="${guitar}">
    <label for="id">Enter Guitar ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <form th:method="DELETE" th:action="@{/guitars/{id}(id=${guitar.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</form>

<form th:method="POST" th:action="@{/manufacturers}" th:object="${manufacturer}">
    <label for="id">Enter Manufacturer ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <form th:method="DELETE" th:action="@{/manufacturers/{id}(id=${manufacturer.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</form>

<form th:method="POST" th:action="@{/genres}" th:object="${genre}">
    <label for="id">Enter Genre ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <form th:method="DELETE" th:action="@{/genres/{id}(id=${genre.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</form>

</body>
</html>