<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<a href="/guitars">GUITARS</a>
<br/>
<hr/>
<a href="/users">USERS</a>
<br/>
<hr/>
<a href="/manufacturers">BRANDS</a>
<br/>
<hr/>
<a href="/genres">GENRES</a>
<br/>
<hr/>
<a href="/orders">ORDERS</a>
<br/>
<hr/>
<a href="/instocks">INSTOCK GUITARS</a>
<br/>
<hr/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>