
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Type: ' + guitar.getTypeof()}">VALUE</p>
<p th:text="${'Shape: ' + guitar.getShape()}">VALUE</p>
<p th:text="${'Series: ' + guitar.getSeries()}">VALUE</p>
<p th:text="${'Model: ' + guitar.getModel()}">VALUE</p>
<p th:text="${'Strings quantity: ' + guitar.getStringsQnt()}">VALUE</p>
<p th:text="${'Neck: ' + guitar.getNeck()}">VALUE</p>
<p th:text="${'Bridge: ' + guitar.getBridge()}">VALUE</p>
<p th:text="${'Body: ' + guitar.getBodyMaterial()}">VALUE</p>
<p th:text="${'Production country : ' + guitar.getProdCountry()}">VALUE</p>
<p th:text="${'Brand ID: ' + guitar.getBrandId()}">VALUE</p>
<strong><p th:text="${'Price: ' + guitar.getPrice() + '$'}">VALUE</p></strong>

<a th:href="@{/guitars/{id}/edit(id=${guitar.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/guitars/{id}(id=${guitar.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>