<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index of Guitars</title>
</head>
<body>

<div th:each="guitar : ${guitars}">
    <a th:href="@{/guitars/{id}(id=${guitar.getId()})}"
       th:text="${'ID: ' + guitar.getId()
       + ', GUITAR: ' + guitar.getManufacturer().getBrand() + ', ' + guitar.getTypeof() + ', ' + guitar.getShape() + ' '
       + guitar.getSeries() + ' ' + guitar.getModel() + ', PRICE = ' + guitar.getPrice() + '$'}">guitar</a>
</div>

<br/>
<hr/>

<a href="/guitars/new">Add new guitar to General Price</a>

<br/>
<hr/>

<a href="/">to HOME PAGE</a>

<br/>
<hr/>

<a href="/guitars/stats">Show Guitar Average Price</a></body>

</html>