
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<strong><p th:text="${'ORDER: ' }">VALUE</p></strong>
<p th:text="${'Order ID: ' + order.getId()}">VALUE</p>
<p th:text="${'Customer: ' + order.getCustomer().getFirstName() + ' ' + order.getCustomer().getLastName()}">VALUE</p>
<p th:text="${'Delivery Address: ' + order.getDeliveryAddress()}">VALUE</p>
<p th:text="${'Creation Date: ' + order.getCreationDate()}">VALUE</p>
<p th:text="${'Order Status: ' + order.getOrderStatus()}">VALUE</p>

<br/>
<br/>
<p th:text="${'Instock Item ordered: '}">VALUE</p>

    <a th:href="@{/instocks/{id}(id=${order.getInstock.getId()})}"
       th:text="${'UNIT ID: ' + order.getInstock.getId()
       + ', UNIT POSITION: ' + order.getInstock.getGuitarPosition().getManufacturer().getBrand() + ' ' + order.getInstock.getGuitarPosition().getModel()
       + ', WHERE: ' + order.getInstock.getPlacement() + ', UNIT STATUS: ' + order.getInstock.getGoodStatus()}">instock</a>

<br/>
<br/>

<a th:href="@{/orders/{id}/edit(id=${order.getId()})}">Edit</a>

<!--<form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}">
    <input type="submit" value="Delete"/>
</form>-->
</body>
</html>