<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index of Instock Goods</title>
</head>
<body>

<div th:each="instock : ${instocks}">
    <a th:href="@{/instocks/{id}(id=${instock.getId()})}"
       th:text="${'UNIT ID: ' + instock.getId()
       + ', UNIT POSITION: ' + instock.getGuitarPosition().getManufacturer().getBrand() + ' ' + instock.getGuitarPosition().getModel()
       + ', WHERE: ' + instock.getPlacement() + ', UNIT STATUS: ' + instock.getGoodStatus()}">instock</a>
</div>

<br/>
<hr/>

<a href="/instocks/new">Add new Instock Good</a>

<br/>
<hr/>

<a href="/">to HOME PAGE</a>
</body>

</html>