
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Name: ' + user.getFirstName() + ' ' + user.getLastName()}">VALUE</p>
<p th:text="${'ID: ' + user.getId()}">VALUE</p>
<p th:text="${'Role: ' + user.getRole()}">VALUE</p>
<p th:text="${'Login: ' + user.getLogin()}">VALUE</p>
<p th:text="${'Password: ' + user.getPassword()}">VALUE</p>
<p th:text="${'Passport: ' + user.getPassportNumber()}">VALUE</p>
<p th:text="${'Address: ' + user.getAddress()}">VALUE</p>

<br/>
<p th:text="${'ORDERS OF '+ user.getFirstName() + ' ' + user.getLastName() + ':'}">VALUE</p>

<div th:each="order : ${user.getOrders()}">
    <a th:href="@{/orders/{id}(id=${order.getId()})}"
       th:text="${'ORDER ID: ' + order.getId()
       + ', CUSTOMER: ' + order.getCustomer().getFirstName + ' ' + order.getCustomer().getLastName
       + ', CREATION DATE: ' + order.getCreationDate()
       + ', ORDER STATUS: ' + order.getOrderStatus()}">order</a>
</div>

<br/>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>